<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="notatki.css">
</head>
<body>
    <%- include('../src/nav.ejs') %>

    <header>Notatki</header>
    <aside id="add-note-section">
        <form action="/api/notes" method="POST">
                <input name="title" type="text" placeholder="tytuł">
                <input name="subject" type="text" placeholder="przedmiot">
                <textarea name="content" id="" cols="30" rows="10" placeholder="opis"></textarea>
                <input type="image" src="submitpng.png">
        </form>
    </aside>
    <main id="browse-notes-section">
        <div id="note-search-bar">
            <input id="search-notes" type="text" placeholder="Szukaj">
            <img src="Vector.png" alt="">
            
        </div>



        <section id="notes-section">

            <!-- z jakiegoś powodu w formie podaje się przedmiot a nie jest on wyświetlany w notatce -->

            <% data.forEach(element => { %>
                <a href="" class="note">
                    <h6> <%= element.subject %></h6>
                    <p> <%= element.username %></p>
                    <h3> <%= element.title %></h3>
                    <p> <%= element.content %></p>

                </a>
            <% }); %>
            
            <a href="" class="note">
                <h3>Definicja encji cz. 2</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat ab dolorum hic atque dolorem impedit quo modi exercitationem, alias, nam veniam officiis voluptatem perferendis, beatae unde neque necessitatibus? Reprehenderit blanditiis excepturi ad, magni unde assumenda recusandae et sint tempora.</p>
            </a>
        </section>

    </main>
</body>
</html>